body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;;
    background-color: aliceblue;
}

.side-img{
    background-image: url(login.jpg);
    background-size: cover;
    width: 30%;
    height: 100vh
}
.container{
    display: flex;
    flex-direction: column;
    
}
.intro{
    background-color: aliceblue;
}
.text{
    margin-top: 150px;
    margin-left: 60px;
    font-size: 1.4rem;
    font-weight: bold;
}
.text p{
    margin-top: 20px;
}
form{
    margin-top: 20px;
    margin-left: 60px;
}
form .main-form{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-left: 20px;
}
.left-form{
    display: flex;
    flex-direction: column;
    width: 220px;
    font-size: 1.2em;
    gap: 10px;
    border-radius: 5px;

}
.main{
    background-color: #f8f8f8;
    height: 40vh;
    box-shadow: 5px 1px 8px #888888;
}
h2{
    margin-left: 20px;
}
label{
    font-size: 1.4em;
}
input{
    height: 20px ;
    border-radius:5px ;
    border: 1px solid wheat;


}
.right-form{
    display:flex;
    flex-direction: column;
    width: 220px;
    font-size: 1.2em;
    gap: 10px;
    border-radius: 5px;
}
.submit{
    margin-top: 40px !important;

}
.login{
    display: flex;
    font-size: 1.2em;
    gap: 10px !important;

}
a{
    margin-top: 18px !important;
}